.navbar{
    box-shadow: 0 5px 15px #5AA7B7;
}
.nav-link{
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
header{
    min-height: 100vh;
    background-image:
    linear-gradient(rgba(50, 147, 166, 0.5) ,rgba(50, 147, 166, 0.5)) ,
    url(../images/mountains.jpg);    background-size: cover;
    background-position: center;
}
.foot{
    font-size: 2rem;
}
.person{
    margin-top: -80px;
}
